header {
    width: 100%;
    height: 700px;
    background-color: black;
    background: url(/LWP/Images/Mario2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.Navbar{
    background-color: white;
    opacity: .5;
    top: 0;
    width: 100%;
    position:absolute;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo {
    display: flex;
    height: 30px;
    margin-left: 2%;
}