body{
    margin: 0;
    font-family: sans-serif;
}
.logo{
    display: flex;
    height: 30px;
}
p{
    color: white;
}
.home{
    margin: auto;
    background: url(/LWP/Images/Books.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    align-items: center;
    opacity: 0.8;
    text-align: center;
}
.Contactos{
    background-color: #474545;
    height: 500px;
    text-align: center;
}
.Suge{
    margin: auto;
}
.Mult{
    background-color: white;
}

footer{
    background-color: #007bff;
}

.ex{
    padding: 30px 0px 0px 140px;
    display: inline-flex;
}

div.ex>span{
    color: white;
}

.SocialLinks{
    margin: 0px 0px 0px 110px;
}

.typesOflearn{
    height: 180px;
    width: 180px;
    margin-right: 110px;
}

.copyR>p{
    padding: 30px 0px 0px 0px;
    align-items: center;
}
div.copyR>p{
    padding-left: 35%;
}