body{
    margin: 0;
    font-family: sans-serif;
}
.logo{
    display: flex;
    height: 30px;
}
p{
    color: white;
}
.home{
    margin: auto;
    background: url(/LWP/Images/Books.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    align-items: center;
    opacity: 0.8;
    text-align: center;
}
.Contactos{
    background-color: #474545;
    height: 500px;
    text-align: center;
}
.Suge{
    margin: auto;
}
.Mult{
    background-color: white;
}

.Socmed>a{
    color: black;
}

.Socmed>i{
    padding: 0px 0px 0px 50%;
}

.SocCont{
    margin: 0px 0px 0px 0px;
    background-color: #007bff;
    height: 90px;
}

div.text>p{
    color: black;
}

i{
    color: black;
}
