/*Page where we get the letter type*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}
/*Style for header*/
header{
    background-color: #3E4AB8;
    margin: 0;
}
/*Style for the logo*/
.log_lwp{
    width: 60px;
    height: 60px;
}