body{
    margin: 0;
    font-family: sans-serif;
}
.logo{
    display: flex;
    height: 30px;
}
.info{
    background-color: darkcyan;
}

#copyR>p{
    padding-left: 35%;
    color: black;
}.SM{
    margin: 280px 0px 0px 0px;
}