.logo{
    display: flex;
    height: 30px;
}
.imagen1{
    margin: auto;
    background: url(/LWP/Images/usoCorrecto1.jpg) no-repeat center;
    background-size: cover;
    height: 450px;
    align-items: center;
    text-align: center;
}
.imagen2{
    margin: auto;
    background: url(/LWP/Images/usoCorrecto2.jpg) no-repeat center;
    background-size: cover;
    height: 450px;
    align-items: center;
    text-align: center;
}
.imagen3{
    margin: auto;
    background: url(/LWP/Images/usoCorrecto3.jpg) no-repeat center;
    background-size: cover;
    height: 450px;
    align-items: center;
    text-align: center;
}